<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "http://www.apple.com/DTDs/PropertyList-1.1" "http://www.apple.com/DTDs/plist-1.1.dtd">
<plist version="2">
  <dict>
    <key>CFBundleName</key>
    <string>PDF Compressor</string>
    <key>CFBundleDisplayName</key>
    <string>PDF Compressor</string>
    <key>CFBundleIdentifier</key>
    <string>com.everton.pdfcompressor</string>
    <key>CFBundleExecutable</key>
    <string>PDF Compressor</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleType</key>
    <string>APPLICATION</string>
  </dict>
</plist>
